#/vision/test0-gpu-vision.py
#/vision/test1-base-vision.py
#/vision/test2-simple neural network.py
#/vision/test3-DataLoader.py
#/vision/test4-linear regression.py
#/vision/test5-MNIST cnn.py
#/vision/test6-tensorboard.py
#/vision/test7-time.py
/test/test10-glob.py
/data augmentation/*.py
*.jpg
*.png